/* Color Theme Swatches in Hex */
.Parkowa-|-Restaurant-1-hex { color: #B4D9CB; }
.Parkowa-|-Restaurant-2-hex { color: #252624; }
.Parkowa-|-Restaurant-3-hex { color: #F2E1AC; }
.Parkowa-|-Restaurant-4-hex { color: #8C8368; }
.Parkowa-|-Restaurant-5-hex { color: #F2B8A2; }

/* Color Theme Swatches in Hex */
.European-Design-Festival-2019-1-hex { color: #515459; }
.European-Design-Festival-2019-2-hex { color: #82D9B9; }
.European-Design-Festival-2019-3-hex { color: #78BFA5; }
.European-Design-Festival-2019-4-hex { color: #F28D77; }
.European-Design-Festival-2019-5-hex { color: #A66363; }

/* Yellow variation */
.QUEQUEN-Pesca-de-Mar-1-hex { color: #F2CD13; }
.QUEQUEN-Pesca-de-Mar-2-hex { color: #F2B705; }
.QUEQUEN-Pesca-de-Mar-3-hex { color: #595036; }
.QUEQUEN-Pesca-de-Mar-4-hex { color: #F29F05; }
.QUEQUEN-Pesca-de-Mar-5-hex { color: #8C5C03; }

.The-Aldrich-Contemporary-Art-Museum-Brand-Identity-1-hex { color: #F2CB05; }
.The-Aldrich-Contemporary-Art-Museum-Brand-Identity-2-hex { color: #A68B03; }
.The-Aldrich-Contemporary-Art-Museum-Brand-Identity-3-hex { color: #736002; }
.The-Aldrich-Contemporary-Art-Museum-Brand-Identity-4-hex { color: #F2E5A2; }
.The-Aldrich-Contemporary-Art-Museum-Brand-Identity-5-hex { color: #F2F2F2; }


/* Red variation */
.logos-&-marks-XIX-1-hex { color: #F2ECCE; }
.logos-&-marks-XIX-2-hex { color: #F2C6AC; }
.logos-&-marks-XIX-3-hex { color: #F28F79; }
.logos-&-marks-XIX-4-hex { color: #D91C0B; }
.logos-&-marks-XIX-5-hex { color: #D93425; }
/* Color Theme Swatches in Hex */
.Melbourne-Prize-for-Literature-1-hex { color: #262526; }
.Melbourne-Prize-for-Literature-2-hex { color: #D9D9D9; }
.Melbourne-Prize-for-Literature-3-hex { color: #F25C05; }
.Melbourne-Prize-for-Literature-4-hex { color: #F24405; }
.Melbourne-Prize-for-Literature-5-hex { color: #F20505; }



/* Green Variation */
.AEA-1-hex { color: #078C41; }
.AEA-2-hex { color: #14A653; }
.AEA-3-hex { color: #73BF94; }
.AEA-4-hex { color: #038C25; }
.AEA-5-hex { color: #F2F2F2; }

.Dudzik-—-ice-cream-store-1-hex { color: #30F284; }
.Dudzik-—-ice-cream-store-2-hex { color: #72F29F; }
.Dudzik-—-ice-cream-store-3-hex { color: #A0F2AC; }
.Dudzik-—-ice-cream-store-4-hex { color: #595622; }
.Dudzik-—-ice-cream-store-5-hex { color: #260101; }

/* Color Theme Swatches in Hex */
.Rosenwald-&-Co-branding-1-hex { color: #255941; }
.Rosenwald-&-Co-branding-2-hex { color: #367350; }
.Rosenwald-&-Co-branding-3-hex { color: #D9D1B8; }
.Rosenwald-&-Co-branding-4-hex { color: #BF5E0A; }
.Rosenwald-&-Co-branding-5-hex { color: #59290C; }







/* Color Theme Swatches in Hex */
.ECHIZEN-URUSHI-1-hex { color: #F24957; }
.ECHIZEN-URUSHI-2-hex { color: #F2522E; }
.ECHIZEN-URUSHI-3-hex { color: #F24535; }
.ECHIZEN-URUSHI-4-hex { color: #73261F; }
.ECHIZEN-URUSHI-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in Hex */
.Arabic-Typography-2021-1-hex { color: #012326; }
.Arabic-Typography-2021-2-hex { color: #BFB16B; }
.Arabic-Typography-2021-3-hex { color: #BF9663; }
.Arabic-Typography-2021-4-hex { color: #F23A29; }
.Arabic-Typography-2021-5-hex { color: #8C2E26; }

